/node_modules
/CLI/node_modules
/build
/CLI/node_modules
.npm-debug.log
*.DS_Store
keyStore
keyStoreLocal
privKey
privKeyLocal
coverage/
coverage.json
.vscode/
bridge.log
scTopics
coverageEnv
/flat
/tempPoly
.eslintrc.js
package-lock.json
bridge.log
.node-xml*
.solcover.js.bk
allFiredEvents
extract/
extract.py
extract.zip
/test-results
.env
yarn-error.log
polymath-developer-portal

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


contract-hardhat/node_modules
contract-hardhat/.env
contract-hardhat/coverage
contract-hardhat/coverage.json
contract-hardhat/typechain
contract-hardhat/typechain-types
contract-hardhat/generated
contract-hardhat/build

# Hardhat files
contract-hardhat/cache
contract-hardhat/artifacts


